.cat-parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
    width: 75%;
    margin: 50px auto;
}

.cat-child {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    height: auto;
    padding: 50px;
    background-color: rgba(207, 234, 245, 0.74); 
    border: none;
    border-radius: 10px;
}

.cat-child h3 {
    font-size: 10px;
    margin: none;
    line-height: 12px;
}

.cat-child p {
    font-size: 12px;
    margin: none;
    height: 5px;
    
}

.cat-image {
    height: 150px;
    width: 150px;
    margin-right: 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.cat-name, .cat-breed, .cat-price {
    width: 150px;
    height: 30px;
    word-wrap: break-word; /* This property enables word wrap */
}

.buy-button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.buy-button:hover {
    background-color: lightblue;
}

/* BASKET */
.basket-parent {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    gap: 10px;
    margin: 50px auto;
}

.basket-child {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 50%;
    height: auto;
    padding: 50px;
    background-color: rgba(207, 234, 245, 0.74); 
    border: none;
    border-radius: 10px;
}
