@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Unica+One&display=swap);

:root {
    --color-grey: #4C4D4E;
    --color-green: #91DEC6;
    --color-cream: #f0ebe1;
    --color-pink: #E8C4E0;
    --color-cream1: #F7F7C7;
    --color-orange: #f7d6ac;
    --color-bg: rgb(255, 254, 252);
  }

.cat-bg {
    background-color: var(--color-bg);
    background-size: cover; 
    background-position: center;
    height: 100%; 
}

.cat-parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    width: 60%;
    padding: 5% 0%;
    margin: 100px auto 0px;
}

@media (min-width: 768px) {
    .cat-parent {
        grid-template-columns: repeat(3, 1fr); /* 3 child elements per row on screens wider than 768px */
    }
}

@media (max-width: 767px) {
    .cat-parent {
        grid-template-columns: repeat(2, 1fr); /* 2 child elements per row on screens 767px and smaller */
    }
}

@media (max-width: 600px) {
    .cat-parent {
        grid-template-columns: repeat(1, 1fr); /* 2 child elements per row on screens 767px and smaller */
    }
}

.cat-child {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
    padding: 10px;
    height: 400px;
    width: 250px;
    border: none;
    border-radius: 10px;
}

.cat-child p {
    font-size: 12px;
    margin: none;
    height: 5px;
    
}

.cat-image {
    height: 250px;
    width: 250px;
    margin-right: 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    object-fit: cover;
    border: 1px solid var(--color-grey);
}

.cat-name, .cat-breed {
    width: 250px;
    height: 28px;
    font-size: 13px;
    font-family: 'Poppins';
    word-wrap: break-word; /* This property enables word wrap */
    margin: 0;
}

.cat-name {
    color: lightblue;
}

.cat-breed {
    color: var(--color-orange);
    white-space: normal;
}

.last-line {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 25px;
    font-size: 16px;
    font-family: 'Poppins';
    background-color: transparent;
    margin-top: 20px;
    
}

.cat-price {
    color: var(--color-green);
    font-weight: bolder;
    width: 100px;
    height: 1em;
    font-size: 16px;
    font-family: 'Poppins';
    word-wrap: break-word; /* This property enables word wrap */
    line-height: 2px;
}

.buy-button {
    width: 150px;
    /* height: 50px; */
    border: none;
    color: var(--color-green);
    font-weight: bolder;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Poppins';
    letter-spacing: 2px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: row-reverse;
}

.buy-button:hover, .buy-button.in-basket  {
    color: var(--color-grey);
}

/* BASKET */

.basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: var(--color-bg);
}

.basket-bg {
    background-color: var(--color-bg);
    background-size:auto; 
    background-position: center;
    height: auto;
}

.basket-title {
    font-size: 2em;
    font-family: arial;
    letter-spacing: 5px;
    margin-top: 10rem;
}

.basket-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: auto; */
    width: 100%;
    gap: 10px;
    margin: 50px auto;
    padding: 0px;
}

.basket-child {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 100%;
    /* max-width: 600px; */
    /* height: 100%; */
    padding: 10px;
    background-color: none;
    border-bottom: 2px solid var(--color-orange);
    border-radius: none;
    box-sizing: border-box; /* Include padding in the total width */
}

.basket-text {
    flex: 1; /* Allow the text to take up all available space */
    overflow: hidden; /* Prevent text from overflowing its container */
    height: 250px;
    width: 240px;
    line-height: 40px;
    margin-left: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative; 
    word-wrap: break-word;
    font-size: 1em;
    font-family: 'Poppins';
}

.basket-text-end {
    position: absolute; /* Change to absolute positioning */
    bottom: 0; /* Align to the bottom of .basket-text */
    left: 0; /* Align to the left of .basket-text */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust as needed */
    height: 50px;
    width: 250px;
    color: var(--color-green);
    font-size: 1em;
    font-family: 'Poppins';
    font-weight: bold;
}

.bin-btn {
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-size: 25px;
    height: 40px;
    width: 40px;
    padding: 0px;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
}

.bin-btn:hover {
    /* background-color: rgb(240, 39, 39); */
    border: 2px solid var(--color-grey);
    border-radius: 10px;
}

.basket-checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    /* max-width: 600px; */
    padding: 50px;
    background-color: none;
    border: none;
    border-radius: 10px;
    box-sizing: border-box; /* Include padding in the total width */
}


.basket-checkout p {
    width: 200px;
    margin: 0;
}

.chk-btn {
    background-color: white;
    font-family: Arial;
    letter-spacing: 2px;
    text-decoration: none;
    border: 2px solid var(--color-grey);
    border-radius: 10px;
    font-size: 12px;
    height: 40px;
    width: 170px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chk-btn:hover {
    background-color: var(--color-grey);
    color: var(--color-green);
}

/* Media query for smaller screens on basket screen*/
@media (max-width: 767px) {
    .basket-parent {
        width: 270px; /* Adjust width for smaller screens */
    }

    .basket-child {
        flex-direction: column; /* Stack child elements in a column on smaller screens */
        width: 270px;
    }

    .basket-text {
        width: 270px; /* Allow text to take full width on smaller screens */
        margin-left: 0; /* Remove left margin on smaller screens */
        margin-bottom: 10px; /* Add bottom margin to separate text and buttons */
    }

    .basket-text-end {
        position: static; /* Reset positioning for smaller screens */
        width: 270px;
    }

}