.cat-parent {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 50px auto;
}

.cat-child {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin:10px;
}

.cat-child img {
    width: 100%;

}

.cat-h3, .BBC-p, .BBC-bottom {
    width: 90%;
}

.cat-h3 {
    font-size: 12px;
    margin: 0px;
}

.cat-p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cat-bottom {
    font-size: 10px;
    margin: 0px ;
}

.cat-bottom img {
    width: 9px
}