@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

:root {
  --color-grey: #4C4D4E;
  --color-green: #91DEC6;
  --color-cream: #f0ebe1;
  --color-pink: #E8C4E0;
  --color-cream1: #F7F7C7;
  --color-orange: #f7d6ac;
  --color-bg: rgb(255, 254, 252);
}

.App {
  text-align: center;
  text-decoration: none;
  font-family: Poppins;
  color: rgb(76, 77, 78);
  letter-spacing: 2px;
  margin: 0; /* Remove default margin */

  background-color: #4C4D4E;

}

.App-link {
  color: #61dafb;
}

/* TEXT CONTAINERS */

.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  height: 100vh;
  margin: 0; /* Remove default margin */
  padding: 10%;
  background: none;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh; /* Ensure the container takes at least the full height of the viewport */
  margin: 0; /* Remove default margin */
}

h3 {
  font-size: 1.5em;
  font-family: Poppins;
  line-height: 50px;
  /* color: #282c34; */
  /* -webkit-text-stroke: 0.5px white; */
}

.text-container h1 {
  font-size: 2.5em;
}

.text-container h2 {
  font-size: 2em;
  font-family: arial;
  letter-spacing: 5px;
}

.text-container p {
  font-size: 1em;
  font-family: Poppins;
}

/* LANDING */

.App-l {
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: rgb(76, 77, 78);
  letter-spacing: 2px;
  height: 100vh; 
  margin: 0; /* Remove default margin */

  background-image: url('images/cat3.png');
  background-size: cover; 
  background-position: center;
  width: 100%;
  /* background-color: #f0f0f0; */
}

.body-container-l{
  display: flex;
  flex-direction: column;
  margin: 0; 
  padding: 15% 15% 5%;
}

.text-container-l{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  height: 20vh; /* Ensure the container takes at least the full height of the viewport */
  margin: 0; /* Remove default margin */
  color: var(--color-orange);
}

.text-container-l h3{
  color: var(--color-green);
  /* -webkit-text-stroke: 0.1px var(--color-grey); */
  width: 30rem;
  background-color: rgba(19, 18, 18, 0.5);
  border-radius: 5px;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .App-l {
  background-image: url('images/cat1.png');
  background-size: cover; 
  background-position: center;
  width: auto;
  }
  .text-container-l{
    align-items: center;
    height: 30vh;
    margin-top: 2rem;
  }
  .body-container-l {
    padding: 4em 0em;
  }
  .text-container-l h3{
    font-size: 1em;
    line-height: 2em;
    word-wrap: normal;
    width: 100%;
    max-width: none;
    border-radius: 0px;
  }
}

.logo-l {
  height: 200px;
  width: auto;
}

/* CONTACT FORM */

.body-container-1{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  height: 100vh;
  margin-top: 5rem; /* Remove default margin */
  padding: 10%;
  background: none;
  margin-top: 7rem;
  /* margin: 0;  */
  padding: 15% 15% 5%;
}

.text-container-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  /* margin-top: 3rem; */
}

form, textarea, input {
  width: 250px;
}

form {
  margin-bottom: 3rem;
}
input {
  height: 30px;
}
textarea {
  height: 100px;
}

textarea, input {
  background-color: #91dec688;
  border-radius: 5px;
  border: none;
}

form button {
  background-color: var(--color-grey);
  color: var(--color-orange);
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 30px;
}

form button:hover {
  color:var(--color-green);
}

/* LINK NAVBAR */

.link {
  text-decoration: none;
  color: white;
  background-color: transparent;
  text-align: left;
}

.link-name {
  text-decoration: none;
  color: rgb(76, 77, 78);
  background-color: transparent;
  text-align: left;
}

.link:hover {
  cursor: pointer;
  color: rgb(76, 77, 78);
  text-decoration: none;
}

/* CAT LOGO */
img {
  max-width: 100%; /* Adjust the width as needed */
  height: 40px; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some spacing to the right of the image */
  background: none;
}

/* ABOUT US */

.about-h1 {
  /* margin: 150px 0px 50px auto; */
  margin-top: 3em;
  font-size: 2.5em;
  font-family: "Poppins";
  line-height: 50px;
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; 
}

.about-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap;  */
  word-wrap: break-word;
  width: 500px;
  height: 250px;
  border-bottom: 2px solid var(--color-orange);
}

.about-child h2,
.about-child p {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  align-self: center;
  flex-wrap: wrap;
  width: 500px;
  padding: 0px 20px;
}

.about-child p {
  height: 100px;
  text-align: left;
}

.about-child h2 {
  color: lightblue;
  height: 100px;
}

.randomcat-container{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  width: 500px;
  height: 120px;
}

.randomcat-container h2{
  color: lightblue;
  display: flex;
  align-items: flex-start;
}

.other-pg-bg {
  background-color: var(--color-bg);
}

@media (max-width: 768px) {
  .randomcat-container,
  .about-child h2,
  .about-child p {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .about-child {
    height: 400px;
    width: 300px;
    display: flex;
    align-items: flex-start;
  }

  .about-child h2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
  }
}