@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

:root {
  --color-grey: #4C4D4E;
  --color-green: #91DEC6;
  --color-cream: #f0ebe1;
  --color-pink: #E8C4E0;
  --color-cream1: #F7F7C7;
  --color-orange: #f7d6ac;
  --color-bg: rgb(255, 254, 252);
}

.App {
  text-align: center;
  text-decoration: none;
  font-family: Poppins;
  color: rgb(76, 77, 78);
  letter-spacing: 2px;
  margin: 0; /* Remove default margin */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

/* TEXT CONTAINERS */

.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
  margin: 0; /* Remove default margin */
  padding: 10%;

  /* background-image: url('images/cloudbg.jpg');
  background-size: cover; 
  background-position: center; */
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vh; /* Ensure the container takes at least the full height of the viewport */
  margin: 0; /* Remove default margin */
}

h3 {
  font-size: 1.5em;
  font-family: Poppins;
  line-height: 50px;
  /* color: #282c34; */
  /* -webkit-text-stroke: 0.5px white; */
}

.text-container h1 {
  font-size: 2.5em;
}

.text-container h2 {
  font-size: 2em;
  font-family: arial;
  letter-spacing: 5px;
}

.text-container p {
  font-size: 1em;
  font-family: Poppins;
}

/* LANDING */

.App-l {
  text-align: center;
  text-decoration: none;
  font-family: Poppins;
  color: rgb(76, 77, 78);
  letter-spacing: 2px;
  background-image: url('images/cloudbg.jpg');
  background-size: cover; 
  background-position: center;
  height: 100vh; 
  /* Make the background cover 100% of the viewport height */
  margin: 0; /* Remove default margin */
}

.body-container-l{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  min-height: 70vh; /* Ensure the container takes at least the full height of the viewport */
  margin: 0; /* Remove default margin */
  padding: 15% 15% 5%;
  
  background-image: url('images/cloudbg.jpg');
  background-size: cover; 
  background-position: center;
}

.text-container-l{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vh; /* Ensure the container takes at least the full height of the viewport */
  margin: 0; /* Remove default margin */
  color: var(--color-orange);
}

.text-container-l h3{
  color: var(--color-grey);
  /* -webkit-text-stroke: 0.1px var(--color-grey); */
  width: 500px;
}

.logo-l {
  height: 200px;
  width: auto;
}

/* CONTACT FORM */

form, textarea, input {
  width: 250px;
}

input {
  height: 30px;
}
textarea {
  height: 100px;
}

textarea, input {
  background-color: lightblue;
  border-radius: 5px;
  border: none;
}

form button {
  background-color: #282c34;
  color: lightblue;
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 30px;
}

form button:hover {
  background-color: white;
  color:lightblue;
}

/* LINK NAVBAR */

.link {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.link:hover {
  cursor: pointer;
  color: rgb(76, 77, 78);
  text-decoration: none;
}

/* CAT LOGO */
img {
  max-width: 100%; /* Adjust the width as needed */
  height: 40px; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some spacing to the right of the image */
  background: none;
}

/* ABOUT US */

.about-h1 {
  margin: 150px 0px 50px auto;
  font-size: 2.5em;
  font-family: Poppins;
  line-height: 50px;
}

.about-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.about-child {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 500px;
  height: 250px;
  border-bottom: 2px solid var(--color-orange);
}

.about-child h2,
.about-child p {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  align-self: center;
  flex-wrap: wrap;
  width: 500px;
  padding: 0px 20px;
}

.about-child p {
  height: 100px;
  text-align: left;
}

.about-child h2 {
  color: lightblue;
  height: 100px;
}

.randomcat-container{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  width: 500px;
  height: 120px;
}

.randomcat-container h2{
  color: lightblue;
}
