.App {
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  color: rgb(76, 77, 78);
  letter-spacing: 2px;
  background-image: url('images/cloudbg.jpg');
  background-size: cover; 
  background-position: center;
  height: 100%; /* Make the background cover 100% of the viewport height */
  margin: 0; /* Remove default margin */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

/* TEXT CONTAINERS */

.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  min-height: 70vh; /* Ensure the container takes at least the full height of the viewport */
  margin: 0; /* Remove default margin */
  padding: 10%;

  background-image: url('images/cloudbg.jpg');
  background-size: cover; 
  background-position: center; /* Center the background image */
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vh; /* Ensure the container takes at least the full height of the viewport */
  margin: 0; /* Remove default margin */
}

h3 {
  font-size: 2em;
  font-family: cursive;
  line-height: 50px;
  /* color: #282c34; */
  /* -webkit-text-stroke: 0.5px white; */
}

.text-container h1 {
  font-size: 2.5em;
}

.text-container h2 {
  font-size: 2em;
  font-family: arial;
  letter-spacing: 5px;
}

.text-container p {
  font-size: 1em;
  font-family: cursive;
}

.randomcat-container{
  display: flex;
  flex-direction: column;
}

/* CONTACT FORM */

form, textarea, input {
  width: 250px;
}

input {
  height: 30px;
}
textarea {
  height: 100px;
}

textarea, input {
  background-color: lightblue;
  border-radius: 5px;
  border: none;
}

form button {
  background-color: #282c34;
  color: lightblue;
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 30px;
}

form button:hover {
  background-color: white;
  color:lightblue;
}

/* LINK NAVBAR */

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  cursor: pointer;
  color: rgb(76, 77, 78);
  text-decoration: none;
}

/* CAT LOGO */
img {
  max-width: 100%; /* Adjust the width as needed */
  height: 40px; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some spacing to the right of the image */
}